 @charset "UTF-8";
/* === VARIABLES === */
/* === LIGHT THEME COLORS === */
/* === DARK THEME COLORS === */
/* === BREAK POINTS === */
/* === CSS VARIABLE NAME DEFINITIONS === */
/* === LIGHT THEME === */
/* line 91, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_vars.scss */
:root {
  --text1: #333;
  --text2: #666666;
  --back1: #fff;
  --back2: #e6e6e6;
  --alink: #339;
  --ahover: #6666cc;
  --avisited: #1a1a4d;
  --content-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  --menu-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25);
  --card-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }

/* === DARK THEME === */
@media (prefers-color-scheme: dark) {
  /* line 107, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_vars.scss */
  :root {
    --text1: #cccccc;
    --text2: #999999;
    --back1: black;
    --back2: #1a1a1a;
    --alink: #6666cc;
    --avisited: #333399;
    --ahover: #b3b3e6;
    --content-shadow: 0 0 40px rgba(0, 0, 0, 0.85);
    --menu-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.75);
    --card-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.9); } }

/* === ALL THEMES === */
/* line 123, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_vars.scss */
:root {
  --font-size: 16px;
  --chessboard: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23ccc' fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/svg%3E"); }

@media (min-width: 32em) {
  /* line 128, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_vars.scss */
  :root {
    --font-size: 16.5px; } }

@media (min-width: 48em) {
  /* line 129, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_vars.scss */
  :root {
    --font-size: 17px; } }

@media (min-width: 64em) {
  /* line 130, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_vars.scss */
  :root {
    --font-size: 17.5px; } }

@media (min-width: 80em) {
  /* line 131, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_vars.scss */
  :root {
    --font-size: 18px; } }

/* line 1, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
html {
  font-size: var(--font-size, 16px); }

/* line 3, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
a, b, del, em, i, ins, q, span, strong, u, noscript, time {
  font-size: 1em; }

/* line 5, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
html, * {
  font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  line-height: 1.24;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  overflow-wrap: anywhere; }

/* line 16, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
* {
  font-size: 1rem; }

/* line 18, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
body {
  margin: 0;
  color: var(--text1);
  background: var(--back2); }

/* line 24, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
main {
  display: block; }

/* line 26, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.08;
  font-weight: 600;
  margin: 0.75em 0em; }

/* line 31, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
.h1, h1 {
  font-size: 26px; }

/* line 32, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
.h2, h2 {
  font-size: 24px; }

/* line 33, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
.h3, h3 {
  font-size: 22px; }

/* line 34, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
.h4, h4 {
  font-size: 20px; }

/* line 35, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
.h5, h5 {
  font-size: 18px; }

/* line 36, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
.h6, h6 {
  font-size: 16px; }

/* line 38, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
hr {
  border: 0;
  box-sizing: content-box;
  line-height: 1.24;
  margin: 0.5em;
  height: 0.0625rem;
  overflow: visible;
  background: linear-gradient(to right, transparent, var(--text2) 20%, var(--text2) 80%, transparent); }

/* line 48, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 53, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }
  /* line 57, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
  a:link {
    color: var(--alink); }
  /* line 58, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
  a:visited {
    color: var(--avisited); }
  /* line 59, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
  a:hover, a:focus {
    text-decoration: underline;
    color: var(--ahover); }

/* line 62, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/* line 68, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
b, strong {
  font-weight: bolder; }

/* line 69, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
small {
  font-size: 80%; }

/* line 71, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 77, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
sub {
  bottom: -0.25em; }

/* line 78, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
sup {
  top: -0.5em; }

/* line 80, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
img {
  border-style: none;
  max-width: 100%;
  height: auto;
  animation: show .75s; }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* line 88, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
embed, object, video {
  max-width: 100%; }

/* line 90, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.24;
  margin: 0; }

/* line 96, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
button, input {
  overflow: visible; }

/* line 98, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
button, select {
  text-transform: none; }

/* line 100, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/* line 102, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 107, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 109, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/* line 111, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/* line 120, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
progress {
  vertical-align: baseline; }

/* line 122, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
textarea {
  overflow: auto; }

/* line 124, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 129, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 131, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* line 133, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 135, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* line 141, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
details {
  display: block; }

/* line 145, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
summary {
  display: list-item; }

/* line 149, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
template, [hidden] {
  display: none; }

/* line 151, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
p, ol, ul, pre {
  margin: 1em 0; }

/* p,ol,ul,pre{margin: spacing(1) spacing(2);} */
/* line 155, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_core.scss */
ol, ul {
  padding-left: 1.5em; }

/* line 1, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
.container {
  position: relative;
  max-width: 48em;
  margin: 0 auto; }

@media (min-width: 64em) {
  /* line 6, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
  .container {
    max-width: 80em; } }

/* === ГЛАВНАЯ СЕТКА === */
/* line 10, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
#content {
  display: flex;
  flex-direction: column;
  box-shadow: var(--content-shadow);
  gap: 0.5em; }

@media (min-width: 64em) {
  /* line 17, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
  #content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 33%; }
  /* line 21, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
  #main > .widget {
    margin-right: 0; }
  /* line 22, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
  #aside > .widget {
    margin-left: 0; }
  /* line 23, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
  #HTML200 {
    /* === ЛИПКИЙ БЛОК С РЕКЛАМОЙ === */
    position: -webkit-sticky;
    position: sticky;
    transition: .25s ease-out; } }

@supports not (gap: 0.5em) {
  /* line 29, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_layout.scss */
  #content > div {
    margin: 0.5em; } }

/* line 9, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#header {
  --icon-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M3 12h18M3 6h18M3 18h18'/%3E%3C/svg%3E");
  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4-4'/%3E%3C/svg%3E");
  --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E");
  top: 0;
  color: var(--text1);
  background: var(--back2);
  box-shadow: var(--menu-shadow);
  max-height: 100%;
  position: -webkit-sticky;
  position: sticky;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  transition: .5s linear; }

/* line 29, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menubar {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.25em; }

/* ----- Скрытые по умолчанию элементы ----- */
/* line 40, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menuinput, #searchinput, #mainmenu, #searchform, #menuback, #menufake, #searchfake {
  display: none; }

/* line 41, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#mainmenu::-webkit-scrollbar {
  display: none; }

/* ----- Иконки ----- */
/* line 45, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menufake, #searchfake,
#menulabel, #searchlabel {
  flex: 0 0 1.5em;
  margin: 0.5em 1em;
  cursor: pointer; }

/* line 51, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menufake:after, #searchfake:after,
#menulabel:after, #searchlabel:after {
  display: block;
  height: 1.5em;
  background: var(--text2);
  content: ''; }

/* line 58, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menufake:hover:after, #searchfake:hover:after,
#menulabel:hover:after, #searchlabel:hover:after {
  background: var(--alink); }

/* line 61, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menufake:after, #menulabel:after {
  -webkit-mask-image: var(--icon-menu);
  mask-image: var(--icon-menu); }

/* line 65, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchfake:after, #searchlabel:after {
  -webkit-mask-image: var(--icon-search);
  mask-image: var(--icon-search); }

/* ----- Logo and Title ----- */
/* line 72, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#logo {
  flex: 1;
  text-align: center;
  white-space: nowrap; }

/* line 78, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#logo > * {
  margin: 0.5em 1em;
  display: inline;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.08; }
  /* line 84, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #logo > *:hover {
    text-decoration: none; }
  /* line 85, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #logo > *:visited {
    color: var(--alink); }

/* ----- Desktop Menu ----- */
/* line 90, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#mainmenu {
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  align-items: center; }

/* line 97, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#mainmenu a {
  color: var(--text1);
  padding: 0.5em 1em;
  text-decoration: none;
  /* text-wrap: wrap; */
  /* margin: auto; */ }

/* line 104, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
.active {
  padding: 0.5em 1em;
  font-weight: 500; }

/* line 108, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#mainmenu:before {
  top: 0;
  right: 3.5em;
  height: 100%;
  width: 6em;
  content: '';
  position: absolute;
  pointer-events: none;
  background: -webkit-linear-gradient(left, #0000 0%, var(--back2) 100%); }

/* line 118, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#mainmenu:after {
  flex: 1;
  content: ''; }

/* ----- Активный пунк меню ----- */
/* line 125, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
.active {
  order: -1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.08; }

/* ----- Common Elements for Menu ----- */
/* line 134, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#mainmenu a:hover {
  color: var(--back2);
  background: var(--text1);
  border-radius: 0.25em; }

/* ----- Background for Menu ----- */
/* line 142, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menuback {
  top: 100%;
  left: 0;
  right: 0;
  position: absolute;
  background: #00000080;
  height: calc(100vh - 100%);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: -1; }

/* ----- Search Form ----- */
/* line 156, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchform {
  flex: 1;
  padding: 0.25em 0.5em;
  background: var(--back1);
  border-radius: 0.25em; }

/* line 163, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchtext {
  width: calc(100% - 1.5em);
  border: none;
  background: transparent;
  outline: none;
  color: var(--text1); }

/* line 170, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchbutton {
  border: none;
  background: transparent;
  padding: 0 0.25em;
  cursor: pointer;
  display: flex; }

/* line 177, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchicon {
  display: inline-block;
  height: 1em;
  width: 1em;
  -webkit-mask-image: var(--icon-search);
  mask-image: var(--icon-search);
  background: var(--text2);
  margin: auto; }

/* line 186, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchicon:hover {
  background: var(--alink); }

/* ===== ACTION ===== */
/* line 192, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menuinput:checked ~ #menulabel:after,
#searchinput:checked ~ #searchlabel:after {
  -webkit-mask-image: var(--icon-close);
  mask-image: var(--icon-close); }

/* line 198, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menuinput:checked ~ #searchlabel {
  display: none; }

/* line 199, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#menuinput:checked ~ #searchfake {
  display: block; }

/* line 201, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchinput:checked ~ #logo,
#searchinput:checked ~ #mainmenu {
  display: none; }

/* line 203, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
#searchinput:checked ~ #searchform {
  display: flex; }

@media screen and (max-width: 32em) {
  /* line 206, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #menuinput:checked ~ #mainmenu,
  #menuinput:checked ~ #menuback {
    display: block; }
  /* line 208, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #menuinput:checked ~ #mainmenu {
    display: grid;
    top: 100%;
    left: 0;
    position: absolute;
    background: var(--back2);
    padding: 1em 0.5em;
    box-shadow: var(--menu-shadow);
    overflow-y: auto;
    scrollbar-width: none;
    max-height: calc(96vh - 100% - 2em);
    max-width: calc(96vw - 1em); }
  /* line 221, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #menuinput:checked ~ #mainmenu:before {
    width: 0; }
  /* line 222, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #searchinput:checked ~ #menulabel {
    display: none; }
  /* line 223, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #searchinput:checked ~ #menufake {
    display: block; } }

@media screen and (min-width: 32em) {
  /* line 227, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #menulabel {
    display: none; }
  /* line 228, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #logo, #searchinput:checked ~ #logo {
    flex: 0;
    display: block; }
  /* line 229, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_header.scss */
  #mainmenu {
    display: flex; } }

/* line 1, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
.widget:not(:last-child) {
  margin-bottom: 2em; }

/* line 3, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
#PopularPosts1,
#FeaturedPost1 {
  /* display: grid;
	grid-template-columns: minmax(0, 1fr) 25%; */
  padding: 1em; }

/* line 10, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
#PopularPosts1 > div,
#FeaturedPost1 > div {
  background: var(--back1);
  padding: 1em;
  border-radius: 0.5em;
  /* box-shadow: var(--menu-shadow); */ }

/* line 17, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
#FeaturedPost1 > div img {
  border-radius: 0.5em; }

/* === POPULAR POSTS === */
/* line 23, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
.PopularPosts {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em; }

/* line 30, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
.PopularPosts > div > div:first-child {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  place-items: baseline; }

/* line 37, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
.hotPost > div > a {
  line-height: 1.08; }

/* line 38, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
.hotPost {
  display: flex;
  flex: 1 1 16rem;
  align-items: center; }
  /* line 42, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
  .hotPost:nth-child(even):last-child {
    display: none; }

/* line 45, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
.hotPost div:first-child {
  position: relative;
  flex: 0 0 5.58rem;
  min-height: 3.72rem;
  border-radius: 0.25em;
  overflow: hidden; }
  /* line 53, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
  .hotPost div:first-child:before {
    content: '';
    position: absolute;
    -webkit-mask-image: var(--chessboard);
    mask-image: var(--chessboard);
    background: var(--back1);
    width: 100%;
    height: 100%; }

/* line 63, ../../OneDrive/Документы/_Sites/teenster.ru/CSS/_widget.scss */
.hotPost div:last-child {
  flex: 1 1 100%;
  padding-left: 0.75em; }

/*
@import '_widgets.scss';
@import '_styles.scss';
@import '_ad.scss';
@import '_pagination.scss';
@import '_blockquote.scss';
@import '_target.scss';
@import '_icons.scss'; */
/* @import '_logofont2.scss'; */
/* @import '_my.scss'; */

/*# sourceMappingURL=teenster.css.map */